.bg-primary {
    padding-bottom:80px;
    padding-top:80px;
}

#alias-field {
    width:125px;
}

.alert {
    margin-bottom:0;
    padding-bottom:12px;
    padding-top:12px;
}

.navbar-inverse {
    border-radius:0;
}

h2 {
    font-size:16px;
}

.glyphicon-heart-empty {
    top: 2px;
}

.page-404 .bg-warning {
    padding-bottom:10%;
    padding-top:10%;
}

.page-404 h2,
.page-404 .glyphicon-thumbs-down {
    font-size:60px;
}